/** Node admin filter **/

.blog_addons-list-title {
	font-weight: bold;
	text-decoration: none;
	font-style: normal;
	font-size: 120%;
	line-break: strict;
	line-height: normal;
	text-align: left;
	text-autospace: none;
	text-justify: auto;
	word-wrap: normal;
	font: "@Arial Unicode MS", Arial, sans-serif;
	word-break: keep-all;
	color: #333;
	margin: 0 0 10px 1px;
	width : 100%;
}

.blog_addons-sort{
	text-decoration: none;
	text-align: left;
}

